@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.active {
  text-decoration: underline;
}

.txt-color-primary {
  color:#FF6060;
}

.txt-color-secondary {
  color:#F6F6F6;
}

.bg-color-primary {
  background-color:#FF6060;
}

.bg-color-secondary {
  background-color:#F6F6F6;
}

.about-text {
  max-height: 0;
  transition: all 0.5s cubic-bezier(0,1,0,1);
  overflow: hidden;
}

.about-text.show {
  max-height: 9999px;
  height: auto;
  transition: all 0.5s cubic-bezier(1,0,1,0);
}

.thumbGradient::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 40%);
  border-radius: 0.75rem;
}

/* Those media queries are fixing missing rules from TailWindCSS CDN */

@media (min-width: 1280px) { 
  .bg-color-secondary {
    background-color:#F6F6F6;
  }
}